/* Here just in case something Bootstrap doesn't provide */

img.image-bounded { 
    max-width: 200px;
    max-height: 200px;
}

td.delete-doc-container {
    text-align: center;
}

/* div#profile-info { 
    width: 600px; 
} */